<section class="price">
    <h3>Cadastre o seu Filho Agora!</h3>
    <div class="containerPrice">
        <div class="Babe">
            <img class="logo" src="assets/Babe Smaller.svg" alt="Security">
            <span>CRECHE</span>
            <div>Ver planos e Horarios</div>
        </div>
        <div class="Child">
            <img class="logo" src="assets/Child Smaller.svg" alt="Security">
            <span>Escolinha</span>
            <div>Ver planos e Horarios</div>
        </div>
    </div>       
</section>
