<footer class="rodape">
    <div class="text1">
            <span class="Titulo">Páginas</span>
            <nav class="Links1">
                <a href="#">. Home</a>
                <a href="#">. Categorias</a>
                <a href="#">. Nossos Produtos</a>
                <a href="#">. Poste e Ganhe</a>  
            </nav>                       
    </div>
        <div class="text2">
            <span class="Titulo">Informações</span>
            <div class="textContainers">
                Empresa Tom’s Store Solutions<br/>
                MEI: 33.567.594/0001-76<br/>
                Cidade São Paulo/SP<br/>
                CEP: 03685-060<br/>
                Bairro:Jardim São Nicolau<br/>
            </div>
        </div>
        <div class="text4">           
            <span class="Titulo">Support</span>
            <div class="textContainers">
                <p> SAC <br/> Tel: 0800 7776-9255<br/>Whats:<br/>(11) 99336-5689<p>
                <p>Ouvidoria Tel: <br/> 0800-7779-6668</p>               
            </div>
            
        </div>
        <div class="text5">
            <span class="Titulo">Selos</span>
            <a href="#"><img src='assets/site-protegido.png' alt="site-protegido" weidth="216,44" height="113,77"/></a>
        </div>
        <div class="text6">
            <span class="Titulo">Redes Sociais</span>
            <div class="textContainers">
                <a href="#"><img src='assets/facebook.png' alt="facebook" weidth="216,44" height="113,77"/></a>
                <a href="#"><img src='assets/Instagran transparente.png' alt="Instagram" weidth="216,44" height="113,77"/></a>
            </div>
        </div>
</footer>
