@font-face {
    font-family: Miriad;
    src: url('src/assets/fonts/MYRIADPRO-REGULAR.otf') format('truetype'); 
}
@font-face {
    font-family: Berlin;
    src: url('src/assets/fonts/BRLNSDB.ttf') format('truetype'); 
}
@font-face {
    font-family: Crayon;
    src: url('src/assets/fonts/DK Cool Crayon.ttf') format('truetype'); 
}



main{
    background-image: url("src/assets/Background Smaller.svg");
    background-repeat:no-repeat;
    background-position: 0px 0px;
    background-size:100%;
}

.imgOption{height: 250px;}


.TitleSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-family: Berlin;
    font-size: 4.0rem;
    color: white;
    margin: 90px 10px 90px 10px;
}

.imagensItem{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.imgItem{
    display: flex;
    flex-direction: column;
    margin: 10px 30px;
    align-items: center;
    flex-wrap: wrap;
}
.imagensItem span{
    font-family: Miriad;
    font-size: 1.5rem;
}

.imagensItem img{
    mask: url('src/assets/Patch Smaller.svg');
    mask-repeat: no-repeat;
    mask-position:center;
    -webkit-mask: url('src/assets/Patch Smaller.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position:center;
    margin: 20px 0;
}

.botões{
    margin-top: 75px;
}

.botões{
    background-color: rgba(255, 255, 17, 0.815);
    color: black;
    font-family: Crayon;
    font-size: 1.8rem;
    cursor: pointer;
    border: none;
    margin: 0px 10px 0 10px;
    box-shadow: 2px -2px 0.4rem black;
}

@media (max-width:1000px) {

    main{
        background-image: url("src/assets/Background Smaller.svg");
        background-repeat:no-repeat;
        background-position:center 0px;
        background-size:160%;
    }
    .title{
        font-family: Berlin;
        font-size: 2.5rem;
        margin: 50px 5px;
        text-align: center;
    }
    .imgItem{
        display: flex;
        flex-direction: column;
        margin: 5px;
        align-items: center;
        flex-wrap: wrap;
    }


    .imgOption{height: 150px;}

    .imagensItem span{
        font-family: Miriad;
        font-size: 1.2rem;
    }
    .botões{
        font-size: 1.4rem;
        margin: 0px 5px 0 5px;
        
    }
}


