<main>
    <section class="TitleSection">
        <div class="title">Comece o futuro do seu filho aqui</div>
        <div class="imagensItem">
            <div class="imgItem">
                <img class="imgOption" src="assets/Image 5.jpg" alt="image 1">
                <span>Lorem ipsum dolor sit.</span>
            </div>
            <div class="imgItem">
                <img class="imgOption" src="assets/Image 3.jpg" alt="image 1">
                <span>Lorem ipsum dolor sit.</span>
            </div>
            <div class="imgItem">
                <img class="imgOption" src="assets/Image.jpg" alt="image 1">
                <span>Lorem ipsum dolor sit.</span>
            </div>
        </div>
        <nav class="botões">
           <button  [class]="ativo1 ? 'botõesON' : 'botões'" (click)="mudarAtivo1()" routerLink='/'>Historia</button>
            <button  [class]="ativo2 ? 'botõesON' : 'botões'" (click)="mudarAtivo2()" routerLink="segurança">Segurança</button>
            <button  [class]="ativo3 ? 'botõesON' : 'botões'" (click)="mudarAtivo3()" routerLink="preço">Preço</button>
        </nav>
    </section>
    <section>
        <router-outlet></router-outlet>
    </section>
</main>
