<section class="safety">
    <h2>Segurança em primeiro lugar</h2>
    <div class="safeOptions">
        <div class="safe1">
            <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam</div>
            <img class="logo" src="assets/Image 1.jpg" alt="Security">
        </div>
        <div class="safe2">
            <img class="logo" src="assets/Image 6.jpg" alt="Security">
            <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam</div>
        </div>
    </div>        
</section>
