<section class="awards">
    <div class="textXP">
        <h2>30 anos de experiencia</h2>
        <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum</div>
    </div>
    <div class="awardsIMG">
        <img src="assets/Logo Colorfull.svg" alt="Logo">
        <img src="assets/Image 7.jpg" alt="First">
        <img src="assets/Image 4.jpg" alt="Prefeitura">
    </div>
</section>
